@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.font-mont {
    font-family: 'Montserrat', sans-serif;
}

.bg-header-main {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-two-collegues {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("./imgs/colleagues\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-local-moving {
    background-image: url("./imgs/bg-local-moving.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
    background-position: right;
}

.bg-commercial-moving {
    background-image: url("./imgs/commercial-moving.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
    background-position: right;
}

.bg-packing-unpacking {
    background-image: url("./imgs/packing-and-packing.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
    background-position: right;
}

.bg-moving-labor {
    background-image: url("./imgs/moving-labor.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
    background-position: right;
}

.bg-delivery {
    background-image: url("./imgs/delivery-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
    background-position: right;
}

.bg-our-company {
    background-image: url("./imgs/our-company.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.card {
    border-radius: 60px;
    background: rgba(66, 66, 65, 0.50);
    backdrop-filter: blur(65px);
}

.menu-wrapper {
    transition: 1s ease-in-out;
    top: 0;
}

.arrow {
    width: 55px;
    height: 55px;
    -webkit-mask: url("./imgs/arrow-long-white.svg") no-repeat center;
    mask: url("./imgs/arrow-long-white.svg") no-repeat center;
}

.arrow:hover {
    cursor: pointer;
}

#phone-icon {
    width: 25px;
    height: 25px;
    -webkit-mask: url("./imgs/phone-icon.svg") no-repeat center;
    mask: url("./imgs/phone-icon.svg") no-repeat center;
}

#location-icon {
    width: 25px;
    height: 25px;
    -webkit-mask: url("./imgs/location-icon.svg") no-repeat center;
    mask: url("./imgs/location-icon.svg") no-repeat center;
}

#email-icon {
    width: 25px;
    height: 25px;
    -webkit-mask: url("./imgs/email-icon.svg") no-repeat center;
    mask: url("./imgs/email-icon.svg") no-repeat center;
}

.blurred-primary-spot {
    width: 400px;
    height: 500px;
    border-radius: 541.349px;
    background: rgba(247, 203, 15, 0.20);
    filter: blur(150px);
}

.blurred-comments {
    min-height: 800px;
    width: 70px;
    background-color: white;
    filter: blur(50px);
}

.blurred-spot {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #F7CB0F;
    filter: blur(50px);
}

.scroll-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #F7CB0F80;
    margin: 0 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.content.expanded {
    max-height: 500px;
}

.scroll-dot.active {
    background-color: #FFD700;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0.5em;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.comments::-webkit-scrollbar {
    width: 0.5em;
}

.comments::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.pricing-list li {
    list-style-image: url("./imgs/blue-tick.svg");
}

#tip1:hover .img-tip {
    content: url("./imgs/boxes-tip1.png");
}

#tip2:hover .img-tip {
    content: url("./imgs/space-tip-c.png");
}

#tip3:hover .img-tip {
    content: url("./imgs/elevator-tip-c.png");
}

#tip4:hover .img-tip {
    content: url("./imgs/boxes-tip-c.png");
}

.container-lg {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-sm {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container-sm {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container-sm {
        width: 960px;
    }

}

@media (min-width: 1200px) {
    .container-sm {
        width: 1180px;
    }
}

@media (min-width: 1400px) {
    .container-sm {
        width: 1270px;
    }
}